.button {
  padding: 16px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  color: var(--default-light-color);
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
  padding: 16px, 32px, 16px, 32px;
  border-radius: 32px;
  gap: 10px;
  outline: none;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

.button:hover {
  color: var(--brand-color);
  background-color: transparent;
}
