.carousel-button {
  display: none;

  @media screen and (min-width: $bp-tablet) {
    display: flex;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    padding: 0;
    border: 1px solid var(--main-color);
    fill: var(--main-color);
    cursor: pointer;
    transition: fill 0.2s, background-color 0.2s;
  }

  &:hover {
    fill: var(--default-light-color);
    background-color: var(--main-color);
  }

  &--rotate {
    transform: rotate(180deg);
  }
}
