.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backdrop-color);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 42px 144px;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 720px;
  max-height: 690px;
  background-color: var(--main-color);
  background-image: url('../images/form-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 48px;
  overflow-y: auto;

  &__title {
    margin: 0;
    padding-bottom: 40px;
    text-align: center;
    font-family: 'Play';
    font-weight: 700;
    font-size: 64px;
    line-height: 1.15;
    color: var(--default-light-color);
  }

  &__text {
    margin-bottom: 0;
    padding-bottom: 32px;
    max-width: 275px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 600;
    line-height: 1.1;
    color: var(--default-light-color);

    &--accent {
      @include accent;
    }
  }

  &__form {
    width: 100%;
    max-width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__button {
    fill: var(--default-light-color);
    position: absolute;
    top: 50px;
    right: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    transition: scale 0.2s;

    &:hover {
      scale: 1.5;
    }
  }
}
