:root {
  --main-color: #011C44;
  --brand-color: #2B7FFF;
  --default-light-color: #FFFFFF;
  --default-neutral-color: #747272;
  --default-dark-color: #000000;
  --header-background-color: #FFFFFF40;
  --backdrop-color: #011F4A66;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
