.advantages-section {
  position: relative;
  margin-bottom: 40px;

  @media screen and (min-width: $bp-desktop) {
    margin-bottom: 96px;
  }

  &__background {
    background-image: url('../images/advantages-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    top: -10%;
    width: 100%;
    height: 1000px;
    position: absolute;
    z-index: -1;

    @media screen and (min-width: $bp-mobile) {
      background-image: url('../images/advantages-background.png');
      top: -15%;
      height: 1000px;
    }

    @media screen and (min-width: $bp-tablet) {
      background-image: url('../images/advantages-background.png');
      top: -20%;
      height: 1000px;
    }

    @media screen and (min-width: $bp-desktop) {
      background-image: url('../images/advantages-background.png');
      top: -80%;
      height: 2170px;
    }
  }

  &__title {
    margin-bottom: 24px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 48px;
    }

    &--centered {
      @include centered-text;
    }

    &--accent {
      @include accent;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;

    @media screen and (min-width: $bp-desktop) {
      gap: 56px;
      flex-direction: row;
      max-width: 1060px;
    }
  }

  &__item {
    display: flex;
    max-width: 500px;

    @media screen and (min-width: $bp-desktop) {
      flex-basis: calc((100% - 112px) / 3);
    }
  }

  &__card {
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 32px;
    background: var(--default-light-color);
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
    gap: 12px;
  }

  &__icon {
    fill: var(--brand-color);
  }

  &__item-title {
    margin: 0;
    padding: 0;
    color: var(--default-dark-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
  }
}
