.contacts-section {
  margin-bottom: 0;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: $bp-desktop) {
    margin-bottom: 94px;
  }

  &__title {
    margin-bottom: 24px;
    @include centered-text;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 48px;
    }

    &--accent {
      @include accent;
    }
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__map {
    flex-shrink: 0;
    border: none;
    height: 232px;
    margin: 0 -24px;

    @media screen and (min-width: $bp-tablet) {
      border-radius: 32px;
      width: 286px;
      height: 495px;
      margin: 0;
    }

    @media screen and (min-width: $bp-desktop) {
      border-radius: 32px;
      width: 605px;
      height: 495px;
      margin: 0;
    }
  }

  &__form {
    margin: 0 auto;
    padding: 42px 24px;
    width: 100%;
    max-width: 422px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-color);
    background-image: url('../images/form-background.png');
    background-size: contain;

    @media screen and (min-width: $bp-desktop) {
      padding: 48px 56px;
    }

    @media screen and (min-width: $bp-tablet) {
      margin: 0;
    }
  }

  &__form-title {
    margin: 0 auto;
    padding-bottom: 24px;
    line-height: 1.15;
    color: var(--default-light-color);
    font-size: 22px;
    line-height: 1.1;
    @include centered-text;

    @media screen and (min-width: $bp-desktop) {
      padding-bottom: 32px;
      max-width: 274px;
    }

    &--accent {
      @include accent;
    }
  }
}
