.hero-section {
  padding-top: 70px;
  background-image: url('../images/hero-background.png');  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 120px;

  @media screen and (min-width: $bp-tablet) {
    background-size: contain;
  }

  @media screen and (min-width: $bp-desktop) {
    padding-top: 123px;
    background-size: auto;
    padding-bottom: 165px;
  }

  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  
    @media screen and (min-width: $bp-desktop) {
      margin: 0;
      align-items: normal;
      padding-left: 106px;
      max-width: 530px;
      gap: 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 230px;
    gap: 8px;

    @media screen and (min-width: $bp-tablet) {
      gap: 14px;
    }
  }

  &__title {
    font-family: 'Play';
    font-weight: 700;
    font-size: 54px;
    line-height: 0.8;
    margin: 0;
    text-align: center;

    @media screen and (min-width: $bp-desktop) {
      text-align: left;
      font-size: 140px;
    }

    &--capitalize {
      @include capitalize;
    }

    &--accent {
      @include accent;
    }
  }

  &__text {
    text-align: center;
    font-size: 12px;
    margin: 0;

    @media screen and (min-width: $bp-desktop) {
      font-size: 18px;
      text-align: left;
    }
  }

  &__button-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    align-self: center;
    text-align: center;
    color: var(--aditional-text-color);
    margin: 0;
  }
}
