h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  object-fit: cover;
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--main-color);
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: inline-block;
}

input {
  outline: 0;
  appearance: none;
}
